* {
    box-sizing: border-box;
}

.switchLabel {
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", "Arial", sans-serif;
}

.switchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    gap: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 68px;
    background-color: rgba(46, 48, 56, 0.5);
    border-radius: 34px; /* La mitad de la altura para hacerlo ovalado */
    transition: background-color 0.4s;
    overflow: hidden; /* Evita desbordes visuales */
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 48, 56, 0.5);
    border-radius: 34px; /* Ensures the box itself is rounded */
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider:before {
    position: absolute;
    content: "OFF";
    height: 42px !important; /* Puedes mantener esta línea para definir el tamaño */
    width: 56px !important; /* Puedes mantener esta línea para definir el tamaño */
    left: 6px; /* Espaciado desde el borde izquierdo */
    background-color: #DF6451;
    font-weight: 700;
    color: white;
    border-radius: 50%; /* Hace el círculo redondo */
    text-align: center;
    line-height: 56px; /* Centra el texto verticalmente */
    font-family: Arial, sans-serif;
    display: flex; /* Asegura alineación correcta del texto */
    align-items:flex-end;
    justify-content: center;
    transition: .4s;
    border-radius: 50%;
    overflow: hidden; /* Evita que el contenido afecte el diseño */
}


.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Change to "ON" when checked */
input:checked + .slider:before {
    transform: translateX(52px);
    content: "ON";
    background-color: #35BC7A;
}